* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: darkgray;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  height: 80px;
  top: 0;
  background-color: #363737;
  z-index: 100;
  padding: 1rem;
  margin: .5rem;
  border-radius: 10px 10px 0 0; 
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.50), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > h1{
  padding-left: 10px;
  font-weight: 500;
}

header > img {
  width: 50px;
}







